<%= form_for(@deputy) do |f| %>
  <% if @deputy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deputy.errors.count, "error") %> prohibited this deputy from being saved:</h2>

      <ul>
      <% @deputy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :photo_url %><br />
    <%= f.text_field :photo_url %>
  </div>
  <div class="field">
    <%= f.label :twitter_username %><br />
    <%= f.text_field :twitter_username %>
  </div>
  <div class="field">
    <%= f.label :political_party %><br />
    <%= f.text_field :political_party %>
  </div>
  <div class="field">
    <%= f.label :number_of_twitter_followers %><br />
    <%= f.number_field :number_of_twitter_followers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
