<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @deputy.firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= @deputy.surname %>
</p>

<p>
  <b>Description:</b>
  <%= @deputy.description %>
</p>

<p>
  <b>Photo url:</b>
  <%= @deputy.photo_url %>
</p>

<p>
  <b>Twitter username:</b>
  <%= @deputy.twitter_username %>
</p>

<p>
  <b>Political party:</b>
  <%= @deputy.political_party %>
</p>

<p>
  <b>Number of twitter followers:</b>
  <%= @deputy.number_of_twitter_followers %>
</p>


<%= link_to 'Edit', edit_deputy_path(@deputy) %> |
<%= link_to 'Back', deputies_path %>
