<td><%= firstname %></td>
<td><%= surname %></td>
<td><%= description %></td>
<td><img src="<%= photo_url %>" width="50" height ="50" /></td>
<td><%= twitter_username %></td>
<td><%= political_party %></td>
<td><%= number_of_twitter_followers %></td>
<td><%= number_of_sent_messages %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
