<h1>New deputy</h1>

<form id="new-deputy" name="deputy">
  <div class="field">
    <label for="firstname"> firstname:</label>
    <input type="text" name="firstname" id="firstname" value="<%= firstname %>" >
  </div>

  <div class="field">
    <label for="surname"> surname:</label>
    <input type="text" name="surname" id="surname" value="<%= surname %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <textarea cols="40" id="description" name="description" rows="20"><%= description %></textarea>
  </div>

  <div class="field">
    <label for="photo_url"> photo_url:</label>
    <input type="text" name="photo_url" id="photo_url" value="<%= photo_url %>" >
  </div>

  <div class="field">
    <label for="twitter_username"> twitter_username:</label>
    <input type="text" name="twitter_username" id="twitter_username" value="<%= twitter_username %>" >
  </div>

  <div class="field">
    <label for="political_party"> political_party:</label>
    <input type="text" name="political_party" id="political_party" value="<%= political_party %>" >
  </div>

  <div class="field">
    <label for="number_of_twitter_followers"> number_of_twitter_followers:</label>
    <input type="text" name="number_of_twitter_followers" id="number_of_twitter_followers" value="<%= number_of_twitter_followers %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Deputy" />
  </div>

</form>

<a href="#/index">Back</a>
