<p>
  <b>Firstname:</b>
  <%= firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= surname %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Photo :</b>
  <mg src="<%= photo_url %>" />
</p>

<p>
  <b>Twitter username:</b>
  <%= twitter_username %>
</p>

<p>
  <b>Political party:</b>
  <%= political_party %>
</p>

<p>
  <b>Number of twitter followers:</b>
  <%= number_of_twitter_followers %>
</p>


<a href="#/index">Back</a>
