<img id="fond" src="img/hemicycle.jpg" alt="background_picture"/>
<div id="conteneur">
<div id="contenu">
  <h1>Assemblée Nationale Saison 2012</h1>
  <span id="header"><p><i>Quel message veux-tu envoyer à ton député ?</i></p></span>
  <table border="0">
  <% @proposals.each do |proposal| %>
    <tr>  
      <td>
        <a href="<%= deputies_path(proposal.id) %>">
          <p><strong><%= proposal.title %></strong> - <%= proposal.content %></p>
        </a>
      </td>
      <td><img src="<%= proposal.photo_url %>" width="90px"></img></td>
    </tr>
  <% end %>
  </table>  
  <%= render 'shared/ref' %>
</div>
 </div>
