<div id="conteneur">
<div id="contenu">
  <h1>
    Avec SenseTwitt, soutiens les mesures du mouvement de entrepreneurs sociaux 
    (<a href="http://www.mouves.org/" target="_blank">Mouves</a>)!
  </h1>
  <div id="header"><p><i>Laquelle des mesures suivante veux-tu soutenir ?</i></p></div>
  <table border="0">
  <% @proposals.each do |proposal| %>
    <tr>  
      <td>
        <a href="<%= choice_path(proposal.id) %>">
          <p><strong><%= proposal.title %></strong> - <%= proposal.content %></p>
        </a>
      </td>
      <td><img src="<%= proposal.photo_url %>" width="90px"></img></td>
    </tr>
  <% end %>
  </table>  
  <div class="details">
    Découvrez toutes les propositions en detail dans le 
    <a id="pdf-mouves" target="_blank" href="http://www.mouves.org/src/doc/communication/productions/Pacte_pour_entreprendre_autrement_Mouves_2012.pdf">
      Pacte pour entreprendre autrement du Mouves.
    </a>
  </div>
  <%= render 'shared/ref' %>
</div>
 </div>
