<div id="conteneur">
<div id="contenu">
  <h1>Assemblée Nationale Saison 2012</h1>
  <span id="header">
    <p>
      <i>Ce site a été développé pendant un HackSense organisé par 
      <%= link_to "MakeSense", "http://makesense.org" %>
      </i>
    </p>
  </span>

  <div class="list">
    <h4>Merci aux hackers de sens d'avoir participé !</h4>

    <ul>
      <li>Larry Vetea Tchiou</li>
      <li>Romain Chanouille</li>
      <li>
        Sébastien Bourdu est un web développeur et UX designer en freelance. 
        Il est cofondateur et directeur technique de <%= link_to "Leeftr", "http://www.leeftr.com" %>. 
        Il s'occupe également de l'UX design de <%= link_to "MakeSense", "http://makesense.org" %>.
          <%= link_to "Son portfolio est ici (http://www.sebastienbourdu.com)", "http://www.sebastienbourdu.com"  %>
      </li>
      <li>Philippe Rémy</li>
      <li>Em Ak</li>
    </ul>

    <p>
      Le code de ce site Internet est open-source et peut-être trouvé sur Github <%= link_to "ici : https://github.com/ekkans/Solitweet", "https://github.com/ekkans/Solitweet" %>
    </p>
    <%= render 'shared/ref' %>
  </div>

</div>
 </div>
