<div id="conteneur">
<div id="contenu">
  <h1>Assemblée Nationale Saison 2012</h1>
  <span id="header">
    <p>
      <i>Ce site a été développé pendant un HackSense organisé par 
      <%= link_to "MakeSense", "http://makesense.org" %>
      </i>
    </p>
  </span>

  <div class="list">
    <h4>Merci aux hackers de sens d'avoir participé !</h4>

    <ul>
      <li>
        <%= link_to "Larry Vetea Tchiou", "http://twitter.com/vetea" %> 
        : Co-backpacker @MakeSense.org, Co-founder @CommonsSense - about #socent, #tech, #design, #biz, #innov, #makesense
      </li>    
      <li>
        <%= link_to "Sébastien Bourdu", "http://www.sebastienbourdu.com" %> est un web développeur et UX designer en freelance. 
        Il est cofondateur et directeur technique de <%= link_to "Leeftr", "http://www.leeftr.com" %>. 
        Il s'occupe également de l'UX design de <%= link_to "MakeSense", "http://makesense.org" %>.
          <%= link_to "Son portfolio est ici (http://www.sebastienbourdu.com)", "http://www.sebastienbourdu.com"  %>
      </li>    
      <li>
        <%= link_to "Romain Chanouille", "http://twitter.com/romidea" %> 
        #DIY #ICT4D beside @JerryDIY /ø\ #privatecloud #opensource with @hederatech /ø\ #socialbusiness with joy @makesensetwitts community =)
      </li>
      </li>
      <li>Philippe Rémy</li>
      <li>Emilien Ah-Kiem</li>
    </ul>

    <p>
      Le code de ce site Internet est open-source et peut-être trouvé sur Github <%= link_to "ici : https://github.com/ekkans/Solitweet", "https://github.com/ekkans/Solitweet" %>
    </p>
    <%= render 'shared/ref' %>
  </div>

</div>
 </div>
