<!DOCTYPE html>
<html>
<head>
  <title>SenseTweet</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Faire entendre sa voix à la futur Assemblée Nationale !" />
  <meta property="og:title" content="Je parle à un député grâce à SenseTweet! Toi aussi fais entendre ta voix à la future Assemblée Nationale" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://sensetweet.makesense.org/" />
  <meta property="og:image" content="http://sensetweet.sebastienbourdu.com/img/euro.png" />
  <meta property="fb:page_id" content="451350898792" />
</head>
<body class="<%= params[:action] %>">

<%= yield %>

</body>
</html>
